html, body { height: 100%; margin: 0; padding: 0; }
li:hover {
    cursor: pointer;
}
.list-container {
    width: 300px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    transform: translate(-300px, 0);
    transition: transform 0.5s ease;
    overflow: auto;
}
.title {
    padding-left: 1em;
}
.list {
    list-style: none;
    padding: 0;
}
.list-item {
    padding: .5em 0 .5em .5em;
    border-color: black;
    border-top: 1px solid;
}
.list-item:last-of-type {
    border-bottom: 1px solid;
}
.open-menu {
    transform: translate(0, 0);
}
.slide-icon {
    transform: translate(242px, 0);
    transition: transform 0.5s ease;
}
.menu-icon {
    left:.4em;;
    position: absolute;
    z-index: 2;
    transition: transform 0.5s ease;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
}
